@(message: String)

@main("Welcome to Play") {


<div data-ng-controller="OhlcGraphController">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">
    {{ alert.msg }}
  </alert>

  <highchart class="chart" config="chartConfig" ></highchart>
</div>

<tabset >
  	<tab heading="Transactions" data-ng-controller="TransactionController">
	    <table datatable="" class="table table-striped">
		    <thead>
		    <tr>
		        <th>Time</th>
		        <th>What Currency</th>
		        <th>With Currency</th>
		        <th>Price</th>
		        <th>Volume</th>
		        <th>Buyer</th>
		        <th>Seller</th>
		    </tr>
		    </thead>
		    <tbody>
	        <tr data-ng-repeat="t in transactions">
	            <td>{{ t.timestamp | date:'MM.dd.yyyy HH:mm:ss' }}</td>
	            <td>{{ t.whatC.name | uppercase }}</td>
	            <td>{{ t.withC.name | uppercase }}</td>
	            <td>{{ t.price }}</td>
	            <td>{{ t.volume }}</td>
	            <td>{{ t.buyerId }}</td>
	            <td>{{ t.sellerId }}</td>
	        </tr>
		    </tbody>
	  	</table>
  	</tab>
  	
  	<tab heading="Statistics" data-ng-controller="EvaluationReportController">
  		<small>All currencies converted to {{ referenceCurrency }}</small>
	    <table datatable="" class="table table-striped">
		    <thead>
		    <tr>
		        <th>ID</th>
		        <th>Name</th>
		        <th>Initial funds</th>
		        <th>Current funds</th>
		        <th>Total returns</th>
		        <th>Volatility</th>
		        <th>Drawdown</th>
		        <th>Sharpe ratio</th>
		        <th>Wallet contents</th>
		    </tr>
		    </thead>
		    <tbody>
	        <tr data-ng-repeat="report in evaluationReports track by report.traderId">
	            <td>{{ report.traderId }}</td>
	            <td>{{ report.traderName }}</td>
	            <td>{{ report.initial | number: 2 }}</td>
	            <td>{{ report.current | number: 2 }}</td>
	            <td>{{ report.totalReturns | number: 4 }}</td>
	            <td>{{ report.volatility | number: 2 }}</td>
	            <td>{{ report.drawdown | number: 2 }}</td>
	            <td>{{ report.sharpeRatio | number: 2 }}</td>
	            <td>
	            	<ul>
	            		<li data-ng-repeat="(currency, value) in report.wallet">{{ currency }} : {{ value | number: 2 }}</li>
	            	</ul>
	            </td>
	        </tr>
		    </tbody>
	  	</table>
  	</tab>
  	
  	<tab heading="Traders" data-ng-controller="TraderController">
	    <table datatable="" class="table table-striped">
		    <thead>
		    <tr>
		        <th>ID</th>
		        <th>Name</th>
		        <th>Strategy</th>
		        <th>Parameters</th>
		    </tr>
		    </thead>
		    <tbody>
	        <tr data-ng-repeat="trader in traders track by trader.id">
	            <td>{{ trader.id }}</td>
	            <td>{{ trader.name }}</td>
	            <td>{{ trader.strategy }}</td>
	            <td>
	            	<ul>
	            		<li data-ng-repeat="param in trader.parameters">{{ param }}</li>
	            	</ul>
	            </td>
	        </tr>
		    </tbody>
	  	</table>
  	</tab>
</tabset>


}
