/**
 * ngTable styles
 **/
.ng-table th.sortable {
	cursor: pointer;
}

.ng-table th.sortable.sort-asc:before {
	content: '\25B2';
}

.ng-table th.sortable.sort-desc:before {
	content: '\25BC';
}

.ng-table th.sortable div {
	display: inline
}

/**
 * Animations
 **/
.animate--fade-in.ng-enter {
	-webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	opacity: 0;
}

.animate--fade-in.ng-enter-active, .animate--fade-in {
	opacity: 1;
}